@import url("href=https://fonts.googleapis.com/css?family=Marck+Script");

/*<link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
font-family: 'Pattaya', sans-serif;*/
:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
  --mainGreener: #33cc33;
  --mainGreen: #80ffaa;
}

body {
  font-family: "Marck Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}
/*global styles*/
.btn-green {
  color: var(--mainGreener) !important;
  border-color: var(--mainGreener) !important
}
.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important
}
.btn-black:hover {
  color: var(--mainGreener) !important;
  background: var(--mainBlack) !important
}
.btn-green:hover {
  color: var(--mainBlack) !important;
  background: var(--mainGreener) !important
}
/*nav links*/
.navbar-toggler {
  outline: none !important
}
.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainGreener)
}
.nav-link {
  color: var(--mainGreener);
  transition: all 1s ease-in-out;
  font-size: 1.5rem
}
.nav-link:hover {
  color: var(--mainBlack)
}
/*cart styles*/
.cart-info__icon {
  color: var(--mainBlack);
  cursor: pointer
}
.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background: var(--mainGreener);
  border-color: var(--mainGreener);
  color: var(--mainWhite);
}
.cart-info:hover .cart-info__icon {
  color: var(--mainWhite);
}
.max-height {
  min-height: calc(100vh - 175px);
  background: linear-gradient(var(--yellowTrans),var(--mainGreen)), url('../img/back.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative
}
.banner {
  color: var(--mainWhite);
  margin-top: -4rem; 
}
.banner-title {
  color: var(--mainGreener);
  font-size: 4rem;
}
.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);
}
.banner-link:hover {
  background: var(--mainBlack);
  color: var(--mainGreener)
}
/* about section*/
.about-img__container {
  position: relative
}
.about-img__container::before {
  content: '';
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainGreen);
  z-index: -1;
  transition: all 1s linear;
}
.about-img__container:hover:before{
  top: 0;
  left: 0;
  }
 /*store*/
 .store {
   background: var(--mainGrey);
 } 
 .search-box {
   background: var(--mainGreener);
   color: var(--mainBlack)
 }
 .single-item {
   transition: all 0.3s linear;
 }
 .single-item:hover {
   box-shadow: 0 10px 15px rgb(0,0,0)
 }
 .img-container {
   position: relative;
   overflow: hidden;
   cursor: pointer;
 }
 .store-img {
   transition: all 1s ease-in-out;
 }
 .img-container:hover .store-img {
   transform: scale(1.1);
 }
 .store-item-icon {
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 0.75rem;
   background: var(--mainYellow);
   border-top-left-radius: 1rem;
   transition: all 1s ease-in-out;
   transform: translate(100%,100%)
 }
 .img-container:hover .store-item-icon {
   transform: translate(0,0)
 }
 .store-item-icon:hover {
   color: var(--mainWhite)
 }
 /*services*/ 
 .services {
   color: var(--mainWhite);
   background: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)), url('../img/wallna.jpg') center/cover fixed no-repeat;
 }
 .service-title {
   letter-spacing: 0.5rem;
 }
 .service-text {
   word-spacing: 0.5rem;
 }
 /*footer*/
 .footer-title {
   background: var(--mainBlack);
 }
 .footer-contact {
   background: var(--mainGrey);
 }
 .footer-icon {
   font-size: 1.5rem;
   color: var(--mainWhite);
   transition: all 0.4 ease-in-out
 }
 .footer-icon:hover {
   color: var(--mainGreener);
 }
 /*cart*/
 .cart {
   position: absolute;
   min-height: 10rem;
   background: rgba(255,255,255,0.5);
   top: 0;
   right: 0;
   transition: all 0.2s ease-in-out;
   width: 0;
   overflow: hidden
 }
 .show-cart {
  width: 18rem;
  padding: 12rem, 1.5rem;
  transform: skew(20deg);
 }
 .cart-item {
   transition: all 2s ease-in-out
 }
 .cart-item-remove {
   color: var(--mainGreener);
   transition: all 1s ease-in-out
 }
 .cart-item-remove:hover {
   transform: scale(1.1);
   color: var(--mainBlack)
 }
 .cart-item-price {
   font-size: 0.8rem
 }